@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-container {
  min-width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
}
@media (min-width: 767px) {
  .nav-container {
    animation: drop 2.5s ease;
  }
}
@media (max-width: 767px) {
  .nav-container {
    opacity: 1;
  }
}

.nav__burger {
  display: none;
}
@media (max-width: 767px) {
  .nav__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    left: 20px;
    top: 20px;
  }
}

.nav__burger span {
  position: absolute;
  background-color: #B2EBF2;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.nav__burger.active span {
  transform: scale(0);
}

.nav__burger:before, .nav__burger:after {
  content: "";
  background-color: #B2EBF2;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.nav__burger:before {
  top: 0;
}

.nav__burger:after {
  bottom: 0;
}

.nav__burger.active:before {
  transform: rotate(45deg);
  top: 8px;
}

.nav__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 0, 47;
    transform: translateY(0);
  }
}
nav {
  overflow: auto;
  z-index: 50;
  max-width: 80%;
  margin: 0 auto;
  min-height: 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  nav {
    position: fixed;
    min-width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1c183d 20%, #0d7ffb 100%);
    -webkit-clip-path: circle(100px at -1% -4%);
    transition: all 1s ease-out;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  nav {
    display: block;
  }
}

nav.active {
  clip-path: circle(1200px at 5% -20%);
  -webkit-clip-path: circle(1200px at 5% -20%);
  pointer-events: all;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #B2EBF2;
  font-size: 16px;
  animation: drop 1.5s ease;
  padding: 2px 0px;
}
@media (max-width: 1200px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .menu__list li {
    margin: 50px;
  }
}

/*При наведении на пункты меню*/
.menu__link:hover {
  color: #00BCD4;
  border-bottom: 2px solid #00BCD4;
}

/*При наведении на пункты меню*/
.first__screen {
  background: url("../img/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
  max-width: 100%;
}

.first__screen__body {
  text-align: center;
  padding: 60px 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .first__screen__body {
    justify-content: space-around;
  }
}
@media (max-width: 992px) {
  .first__screen__body {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .first__screen__body {
    justify-content: space-around;
    padding: 30px 10%;
  }
}

.clouds {
  width: 240px;
  height: 240px;
  filter: drop-shadow(0px 8px 3px black);
  animation: drop 1.5s ease;
}
.clouds img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .clouds {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 460px) {
  .clouds {
    width: 200px;
    height: 200px;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hi {
  font-size: 56px;
  color: #FFF;
  font-family: "Kaushan Script", cursive;
  animation: fade_in 2.5s ease;
}
@media (max-width: 1200px) {
  .hi {
    font-size: 3.8rem;
  }
}
@media (max-width: 992px) {
  .hi {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  .hi {
    font-size: 3rem;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    font-size: 36px;
  }
  100% {
    opacity: 1;
  }
}
.button {
  background-color: #157efb;
  height: 50px;
  border-radius: 30px;
  width: 350px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  animation: reverse_drop 1.5s ease;
  margin: 80px 0px 35px 0px;
  z-index: 1;
}
@media (max-width: 767px) {
  .button {
    width: 200px;
    height: 53px;
    margin: 50px 0px 35px 0px;
  }
}

@keyframes reverse_drop {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.button__text {
  padding-top: 10px;
  border: 1.5px solid #B3E5FC;
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  font-size: 24px;
  color: #B3E5FC;
  border-radius: 30px;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .button__text {
    padding-top: 5px;
    font-size: 20px;
  }
}

.button__text:before {
  /*Анимация заполнения кнопки синим цветом*/
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #157efb;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
/*   border-radius: 50% 50% 0 0; */
  height: 180%;
}

@media (min-width: 1100px) {
  .button__text:hover:before {
    height: 0%;
  }

  /*Анимация заполнения кнопки синим цветом*/
  .button__text:hover {
    color: #157efb;
    background-color: #B2EBF2;
    border-bottom: none;
    top: -4px;
    box-shadow: 0 3px 0px 0 #157efb;
    filter: drop-shadow(0px 5px 5px #157efb);
  }

  .button__text:active {
    /*Анимация нажатия кнопки*/
    top: -1px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 1px 0px 0 #157efb;
    filter: none;
  }

  /*Анимация нажатия кнопки*/
}
/*Вращающиеся квадраты*/
.button:before,
.button:after {
  cursor: default;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border: 4px solid gray;
  opacity: 0.3;
  top: -45px;
  left: 47%;
  z-index: -2;
  margin: 0px 0px 0px -60px;
}
@media (max-width: 767px) {
  .button:before,
.button:after {
    width: 125px;
    height: 125px;
    top: -35px;
    margin: 0px 0px 0px -50px;
  }
}

/*Вращающиеся квадраты*/
/*Анимация вращения квадратов*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Анимация вращения квадратов*/
/*Подключаем анимацию к каждому квадрату*/
.button:before {
  animation: rotate 20s infinite linear;
}

.button:after {
  animation: rotate 25s infinite linear;
}

/*Подключаем анимацию к каждому квадрату*/
.about {
  background: url("../img/bkg-blu.jpg") no-repeat center;
  background-size: cover;
  max-width: 100%;
  padding: 30px 0px;
}

.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .about__items {
    flex-direction: column;
  }
}

.about__text__title {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
}
@media (max-width: 1200px) {
  .about__text__title {
    width: 630px;
    order: 2;
  }
}
@media (max-width: 650px) {
  .about__text__title {
    width: 500px;
  }
}
@media (max-width: 533px) {
  .about__text__title {
    width: 400px;
  }
}
@media (max-width: 430px) {
  .about__text__title {
    width: 330px;
  }
}
@media (max-width: 360px) {
  .about__text__title {
    width: 290px;
  }
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.about__icon {
  width: 350px;
  height: 350px;
  order: 2;
  transform: translate(200%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
@media (max-width: 850px) {
  .about__icon {
    width: 265px;
    height: 265px;
  }
}
@media (max-width: 767px) {
  .about__icon {
    width: 150px;
    height: 150px;
    order: 1;
  }
}
.about__icon img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 6px 5px black);
}

.about__icon._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 15px 0px 25px 0px;
  color: #221e3f;
  transform: translate(-500%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
@media (max-width: 460px) {
  .about__title {
    font-size: 30px;
  }
}

.about__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.about__text {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 24px;
  color: #221e3f;
}
@media (max-width: 767px) {
  .about__text {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .about__text {
    font-size: 20px;
  }
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.screenshots {
  position: relative;
  background-color: #99aad6;
  max-width: 100%;
  padding: 30px 0px;
}
.screenshots:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 600px solid transparent;
  border-right: 1400px solid #6877ba;
  border-bottom: 0px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .screenshots:after {
    border-right: 767px solid #6877ba;
    border-top: 400px solid transparent;
  }
}
.screenshots:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
  border-left: 1000px solid #4d75ba;
  border-bottom: 0px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .screenshots:before {
    border-left: 767px solid #4d75ba;
  }
}

.screenshots__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .screenshots__items {
    flex-direction: column;
  }
}

.screenshots__text__title {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .screenshots__text__title {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .screenshots__text__title {
    width: 500px;
  }
}
@media (max-width: 533px) {
  .screenshots__text__title {
    width: 400px;
  }
}
@media (max-width: 430px) {
  .screenshots__text__title {
    width: 330px;
  }
}
@media (max-width: 360px) {
  .screenshots__text__title {
    width: 290px;
  }
}

.screenshots__icon {
  width: 350px;
  height: 350px;
  transform: translate(-200%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
@media (max-width: 850px) {
  .screenshots__icon {
    width: 265px;
    height: 265px;
  }
}
@media (max-width: 767px) {
  .screenshots__icon {
    width: 150px;
    height: 150px;
  }
}
.screenshots__icon img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 6px 5px black);
}

.screenshots__icon._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.screenshots__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 15px 0px 25px 0px;
  color: #fff;
  transform: translate(500%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
@media (max-width: 460px) {
  .screenshots__title {
    font-size: 30px;
  }
}

.screenshots__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.screenshots__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 767px) {
  .screenshots__text {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .screenshots__text {
    font-size: 20px;
  }
}

.screenshots__body {
  z-index: 2;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 1s ease 0.5s;
}

.screenshots__body.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* Слайдер */
.slick-slider {
  max-width: 1200px;
}

/* Ограничивающая оболочка */
.slick-list {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
}
@media (max-width: 1230px) {
  .slick-list {
    max-width: 850px;
  }
}
@media (max-width: 1080px) {
  .slick-list {
    max-width: 600px;
  }
}
@media (max-width: 992px) {
  .slick-list {
    max-width: 500px;
  }
}
@media (max-width: 900px) {
  .slick-list {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .slick-list {
    max-width: 350px;
  }
}
@media (max-width: 700px) {
  .slick-list {
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .slick-list {
    max-width: 280px;
  }
}
@media (max-width: 430px) {
  .slick-list {
    max-width: 260px;
  }
}

/* Лента слайдов */
.slick-track {
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {
  flex: 0 1 50%;
  text-align: center;
  margin: 20px 50px 0px 50px;
}
@media (max-width: 800px) {
  .slick-slide {
    margin: 20px 25px 0px 25px;
  }
}
@media (max-width: 700px) {
  .slick-slide {
    margin: 20px 10px 0px 10px;
  }
}
.slick-slide img {
  width: 300px;
  height: 480px;
  max-width: 300px;
  border-radius: 30px;
  box-shadow: 0 -1px 3px #6b6b6b, 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (max-width: 700px) {
  .slick-slide img {
    width: 250px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .slick-slide img {
    width: 220px;
    height: 380px;
  }
}

/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 70px;
  background: url("../img/sl-arrow_1 1.svg") 0 0/100% no-repeat;
}
@media (max-width: 1080px) {
  .slick-arrow.slick-prev {
    left: 150px;
  }
}
@media (max-width: 700px) {
  .slick-arrow.slick-prev {
    left: 120px;
  }
}
@media (max-width: 630px) {
  .slick-arrow.slick-prev {
    left: 100px;
  }
}
@media (max-width: 600px) {
  .slick-arrow.slick-prev {
    left: 80px;
  }
}
@media (max-width: 550px) {
  .slick-arrow.slick-prev {
    left: 50px;
  }
}
@media (max-width: 492px) {
  .slick-arrow.slick-prev {
    left: 30px;
  }
}
@media (max-width: 400px) {
  .slick-arrow.slick-prev {
    left: 0px;
  }
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 70px;
  background: url("../img/sl-arrow_2 1.svg") 0 0/100% no-repeat;
}
@media (max-width: 1080px) {
  .slick-arrow.slick-next {
    right: 150px;
  }
}
@media (max-width: 700px) {
  .slick-arrow.slick-next {
    right: 120px;
  }
}
@media (max-width: 630px) {
  .slick-arrow.slick-next {
    right: 100px;
  }
}
@media (max-width: 600px) {
  .slick-arrow.slick-next {
    right: 80px;
  }
}
@media (max-width: 550px) {
  .slick-arrow.slick-next {
    right: 50px;
  }
}
@media (max-width: 492px) {
  .slick-arrow.slick-next {
    right: 30px;
  }
}
@media (max-width: 400px) {
  .slick-arrow.slick-next {
    right: 0px;
  }
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 0.2;
}

/* Точки */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 20px 10px 0px 10px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  opacity: 0.5;
  border: 1px solid #221e3f;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #221e3f;
  opacity: 1;
}

.team {
  background: url("../img/bkg-blu.jpg") no-repeat center;
  background-size: cover;
  min-height: 470px;
  position: relative;
  max-width: 100%;
  padding: 30px 0px;
}
@media (max-width: 767px) {
  .team {
    min-height: 600px;
  }
}
@media (max-width: 520px) {
  .team {
    height: 1000px;
  }
}
.team:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 2000px solid #2a254f;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.team__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .team__items {
    flex-direction: column;
  }
}

.team__text__title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 15px 0px 25px 0px;
  color: #221e3f;
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
@media (max-width: 460px) {
  .team__title {
    font-size: 30px;
  }
}

.team__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.team__text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 24px;
  color: #221e3f;
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}
@media (max-width: 767px) {
  .team__text {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .team__text {
    font-size: 20px;
  }
}

.team__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.team__body {
  display: flex;
}
@media (max-width: 767px) {
  .team__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .team__body {
    flex-direction: column;
  }
}

._anim-wow-team1 {
  transform: translate(-500%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

._anim-wow-team1._active,
._active ._anim-wow-team1 {
  opacity: 1;
  transform: translate(0px, 0px);
}

._anim-wow-team2 {
  transform: translate(500%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

._anim-wow-team2._active,
._active ._anim-wow-team2 {
  opacity: 1;
  transform: translate(0px, 0px);
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 60px 0px 60px;
}
@media (max-width: 1200px) {
  .team__item {
    margin: 20px 40px 0px 40px;
  }
}
@media (max-width: 992px) {
  .team__item {
    margin: 20px 15px 0px 15px;
  }
}
@media (max-width: 767px) {
  .team__item {
    margin: 20px 10px 0px 10px;
  }
}
.team__item img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.team__item__image {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

.team__item__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 18px;
  color: #221e3f;
}

.footer {
  max-width: 100%;
  position: relative;
  padding: 30px 0px;
  background-color: #2a254f;
  width: 100%;
}

.contacts__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
  color: #fff;
}
.contacts__title:after {
  display: block;
  margin-top: 5px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
@media (max-width: 460px) {
  .contacts__title {
    font-size: 30px;
  }
}

.contacts__text {
  width: 400px;
}

.contacts__text__lists {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.contacts__text__lists p {
  font-size: 24px;
}
@media (max-width: 992px) {
  .contacts__text__lists {
    flex-wrap: wrap;
  }
}
@media (max-width: 820px) {
  .contacts__text__lists {
    align-items: unset;
  }
}
@media (max-width: 460px) {
  .contacts__text__lists {
    font-size: 16px;
  }
  .contacts__text__lists p {
    font-size: 22px;
  }
}

.projects, .navigation {
  margin-right: 10px;
  text-align: center;
}
.projects li, .navigation li {
  margin-top: 10px;
}
.projects li a, .navigation li a {
  opacity: 0.5;
  color: white;
}
.projects li a:hover, .navigation li a:hover {
  opacity: 1;
}
@media (max-width: 741px) {
  .projects, .navigation {
    text-align: justify;
  }
}
@media (max-width: 595px) {
  .projects, .navigation {
    margin-top: 20px;
  }
}

.socialmedia {
  text-align: center;
}
@media (max-width: 352px) {
  .socialmedia {
    margin-top: 20px;
    display: inline;
  }
}
@media (max-width: 820px) {
  .socialmedia .socialmedia__list {
    display: flex;
  }
}
@media (max-width: 741px) {
  .socialmedia .socialmedia__list {
    margin-top: 50px;
  }
}
.socialmedia li {
  margin-top: 20px;
}
.socialmedia li:first-child {
  margin-top: 0;
}
@media (max-width: 821px) {
  .socialmedia li {
    margin: 0px 20px 0px 0px;
  }
}
.socialmedia i {
  font-size: 30px;
}
.socialmedia img {
  width: 30px;
  height: 30px;
}
.socialmedia .fa-facebook {
  color: #fff;
}
.socialmedia .fa-facebook:hover {
  color: #4867AA;
}
.socialmedia .instagram:hover {
  border-radius: 9px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.socialmedia .fa-telegram {
  color: white;
}
.socialmedia .fa-telegram:hover {
  color: #28a8e9;
  background: white;
  border-radius: 50%;
}

.copyright {
  padding: 18px 0px;
  width: 100%;
  height: 50px;
  background-color: #221e3f;
}
@media (max-width: 380px) {
  .copyright {
    padding: 12px 0px;
  }
}

.copyright__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}
